.container{
  max-width: 680;
  background-color: green;
  margin: 0 auto;
}
<style color="green">

</style>
<style color="red">
  h1 {
    font-family: cursive;
  }

  p {
    color: blue;
  }
  .secondary {
    color:red;
  }

  .big {
    font-family: cursive;
  }
html{
  box-sizing: border-box;
}
*{
  border: 0px solid red;
}
div {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
div {
    padding: 5px 10px 5px 10px;
}
div {
    padding: 5px 10px;
}
div {
    box-sizing: border-box;
    width: 1000px;
    height: 100px;
}
div {
    box-sizing: border-box;
    width: 900px;
    height: 30px;
}
  .important {
    color: orange;
  }
  h1{
    color: rgb(50,205, 50);
  }
  body{
    background-color:yellow;
  }
  .element {
  background-image: url(/images/image.svg);
}
nav a {margin: 55px;

}

img#header-image {
    border-radius: 35%;
    box-shadow: 10px 10px 5px grey;
    }


h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

</style>
